<%= form_for @task, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :deadline, id: "datetimepicker1", placeholder: "When?", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.text_field :description, placeholder: "Describe your task", class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Set it", class: "btn btn-info " %>
  </div>
<% end %>
