

<div class="row">
	<div class="col-md-3">
		<div id="task-form" style="display:none;"></div>
		<div class="button">
		<%= link_to ' New Task', new_task_path, remote: true, class: "btn btn-success fa fa-tasks"%>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-1">
		<h1>Listing Tasks</h1>

		<div id="tasks">
		  <div class="row">
		    <%= render @tasks %>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
  function loadPosts(){
    $.getJSON("/posts.json", function(data){
      var html = "";
      $.each(data, function (index){
	// alert(data[index].content);
	html += "<strong><em>" + data[index].content + "</em></strong></br>";
	}); 
	// update our div
	  $("#posts").html(html);
	});
  }
</script>


